{% extends "menu.html" %}
{% block content %}
    <div class="orders">
        <h1>Edit Order</h1>
    </div>

    {% for r in rows %}
    <form id="edit-order" action="/Orders/edit/{{r.0}}" method="POST">
        <div class="form-row">
            <div class="col">
                <label for="custSelect">Customer</label>
                <select class="form-control" name="cust_id" id="custSelect">
                    <option value="">Select customer</option>
                    {% for c in custDD %}
                    {% if r.1 == c.0 %}
                    <option selected value="{{c.0}}">{{c.1}}</option>
                    {% else %}
                    <option value="{{c.0}}">{{c.1}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="empSelect">Employee</label>
                <select class="form-control" name="emp_id" id="empSelect">
                    <option value="">Select employee</option>
                    {% for e in empDD %}
                    {% if r.2 == e.0 %}
                    <option selected value="{{e.0}}">{{e.1}}</option>
                    {% else %}
                    <option value="{{e.0}}">{{e.1}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="dateInput">Date</label>
                <input type="date" class="form-control" name="date" id="dateInput" value="{{r[3]}}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label for="creditCardNum">Credit card number</label>
                <input type="number" class="form-control" name="credit_card_num" id="creditCardNum" value="{{r[5]}}" maxlength="16" minlength="16" required>
            </div>
            <div class="col">
                <label for="expDateInput">Expiration date</label>
                <input type="date" class="form-control" name="exp_date" id="expDateInput" value="{{r[6]}}" required>
            </div>
            <div class="col">
                <label for="creditCardCode">Credit card code</label>
                <input type="number" class="form-control" name="credit_card_code" id="creditCardCode" value="{{r[7]}}" maxlength="4" minlength="3" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-10">
                <label for="itemSelect">Items</label>
            </div>
            <div class="col-md-2">
                <label for="quantityInput">Quantity</label>
            </div>
        </div>
        {% for q in itemRow %}
        <div class="form-row">
            <div class="input-group">
                <div class="col-md-10">
                    <select class="form-control" name="item_id_{{q.3}}" id="itemSelect">
                            <option value="">Select item</option>
                        {% for i in itemDD %}
                            {% if q.1 == i.0 %}
                                <option selected value="{{i.0}}">{{i.1}}, {{i.2}}</option>
                            {% else %}
                                <option value="{{i.0}}">{{i.1}}, {{i.2}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="quantity_{{q.3}}" id="quantityInput" value="{{q.2}}" required>
                </div>
            </div>
        </div>
        {% endfor %}
    </form>
    {% endfor %}
    <button class="btn btn-secondary mt-3" id="addItemBtn" type="submit" form="edit-order">Add item to order</button>
    <br>
    <button class="btn btn-success mt-3 mb-3 mr-2" type="submit" form="edit-order">Submit Changes</button>
    <button class="btn btn-danger mt-3 mb-3" onclick="window.location='/Orders'">Cancel</button>

<script>
    {% for iCount in itemRowCount %}
    var count = {{ iCount.0}};
    console.log("what is the iCount?", count);
    {% endfor %}
    if (count == 0) {
        count = 1
    }
    $("#addItemBtn").click(function (event) {
        event.preventDefault();

        $("#edit-order").append(addNewRow(count));
        count++;
    });

    function addNewRow(count) {
        var newrow =
            '<div class="form-row">' +
                '<div class="input-group">' +
                    '<div class="col-md-10">' +
                        '<select class="form-control" name="item_id_' + count + '" id="itemSelect">' +
                            '<option selected value="">Select item</option>' +
                            '{% for i in itemDD %}' +
                            '<option value="{{i.0}}">{{i.1}}, {{i.2}}</option>' +
                            '{% endfor %}' +
                        '</select>' +
                    '</div>' +
                    '<div class="col-md-2">' +
                        '<input type="number" class="form-control" name="quantity_' + count + '" id="quantityInput" value="1" required>' +
                    '</div>' +
                '</div>' +
            '</div>';
        return newrow;
    }
</script>
{% endblock %}