{% extends "menu.html" %}
{% block content %}
<div class="container">
    {%for r in rows %}

    <div class="customers">
        <h1>Edit Customer</h1>
    </div>

    <form id="edit-customer" action="/Customers/edit/{{r.0}}" method="POST">
        <div class="form-row">
            <div class="col mb-3">
                <label for="validationDefault02">First name</label>
                <input type="text" name="first_name" class="form-control" id="validationDefault02" value="{{r[2]}}" required>
            </div>
            <div class="col mb-3">
                <label for="validationDefault03">Last name</label>
                <input type="text" name="last_name" class="form-control" id="validationDefault03" value="{{r[3]}}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col mb-3">
                <label for="validationDefault03">Email</label>
                <input type="email" name="email" class="form-control" id="validationDefault03" value="{{r[1]}}" required>
            </div>
            <div class="col mb-3">
                <label for="validationDefault04">Phone number</label>
                <input type="tel" name="phone_number" class="form-control" id="validationDefault04" value="{{r[4]}}" maxlength="10" minlength="10">
            </div>
        </div>
    </form>
    <button class="btn btn-success" type="submit" form="edit-customer">Submit Changes</button>
    <button class="btn btn-danger" onclick="window.location='/Customers'">Cancel</button>
    {% endfor %}
</div>
    {% endblock %}
